<style>
.w1190{width:1190px;margin-left:auto;margin-right:auto;}
</style>
<link rel="stylesheet" type="text/css" href="http://static.99114.com/static/portal/cssv3/base_v3.0.css" />
<link rel="stylesheet" type="text/css" href="http://static.99114.com/static/portal/cssv3/tbcommon_v3.0.css" />
<link rel="stylesheet" type="text/css" href="http://static.99114.com/static/portal/cssv3/index_v3.0.css" />
<link rel="stylesheet" href="http://static.99114.com/static/portal/cssv3/common_ad.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="http://www.99114.com/static/flsc/css/main.css" />

<div class="header">
<div class="top-2 w1190 clearfix">
<p class="top_logo_1">
	<a class="logo_wk" href="http://www.99114.com/" title="中国网库">
	<img src="http://www.99114.com/static/imagesv3/logo_wk.png" alt="中国网库">
	</a>
<span>
<a rel="nofollow" class="logo_teng" href="javascript:void(0);" title="">
						<img src="http://www.99114.com/images/fuli-logo.jpg" alt="中国网库福利商城">
</a>
</span>
</p>
<div class="search fl">
	<div class="searchTab">
<ul id="searchTabUl">
<li id="stock" title="http://gongying.99114.com">
<a href="http://gongying.99114.com" target="_blank">供应</a>
</li>
<li id="source" title="http://caigou.99114.com">
<a href="http://caigou.99114.com" target="_blank">求购</a>
</li>
<li id="corporate" title="http://qiye.99114.com">
<a href="http://qiye.99114.com" target="_blank">公司</a>
</li><!-- 
<li id="alliance" title="http://zhaosh.99114.com">
<a href="http://zhaosh.99114.com" target="_blank">招商</a>
</li>
<li style="border-right:0;" id="information" title="http://zixun.99114.com">
<a href="http://zixun.99114.com" target="_blank">资讯</a>
</li> -->
</ul>
</div>
	<div class="searchCon" style="width: 497px;">
		<input type="text" onclick="if(this.value == '请输入关键字') this.value=''; this.style.color='#000';" onblur="if(this.value=='') this.value='请输入关键字';this.style.color='#888';" name="k" value="请输入关键字" class="searchTxt inpTxt focusBlur grayTips" id="productName" style="color: rgb(136, 136, 136);">
		<input type="submit" onclick="F-submit();return false;" id="F-submit" value="搜索" class="searchBtn" style="text-indent: 0px;"> 
	</div>
		<p class="keyWord">
			<span>热门搜索：</span> 
				<a href="http://gongying.99114.com/listing/hongzao" target="_blank">红枣</a> 
				<a href="http://gongying.99114.com/listing/hetao" target="_blank">核桃</a>
				<a href="http://gongying.99114.com/listing/baijiu" target="_blank">白酒</a>
				<a href="http://gongying.99114.com/listing/pingguo" target="_blank">苹果</a> 
				<a href="http://gongying.99114.com/listing/shuibeng" target="_blank">水泵</a> 
				<a href="http://www.99114.com/gy_huizong" target="_blank">更多</a>
		</p>
 </div>
 <div class="fr top_rs_1 clearfix"> 
	        <span class="rs_r textR mt10">
	        	<a class="ad_rightBox ad_rightBox1" href="javascript:;"><p>正品保障</p></a>
	        	<a class="ad_rightBox ad_rightBox2" href="javascript:;"><p>采购返现</p></a>
	        	<a class="ad_rightBox ad_rightBox3" href="javascript:;"><p>源头直供</p></a>			
	       </span>       
    </div>
</div>
</div>