<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
	<!-- 图片service数据源配置 -->
	<context:property-placeholder ignore-unresolvable="true" location="classpath*:application-jdbc-special.properties" />
 
 
 
 
<!-- 
  <bean id="readdataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
     <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
     <property name="url" value="jdbc:mysql://192.168.1.98:3306/wk_special_shard1?characterEncoding=utf8"/>
     <property name="username" value="special"/>
     <property name="password" value="special-0515"/>
  </bean>
 -->
 
	<bean id="readdataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
     <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url">
			<value>${readSpecial.jdbc.url}</value>
		</property>
		<property name="username">
			<value>${readSpecial.jdbc.username}</value>
		</property>
		<property name="password">
			<value>${readSpecial.jdbc.password}</value>
		</property>
	</bean>
    <!-- 专题系统数据源配置
	<bean id="readNewsDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<property name="url" value="${readSpecial.jdbc.url}" />
		<property name="username" value="${readSpecial.jdbc.username}" />
		<property name="password" value="${readSpecial.jdbc.password}" />
		<property name="filters" value="stat" />
		<property name="maxActive" value="300" />
		<property name="maxWait" value="60000" />
		<property name="initialSize" value="10" />
		<property name="minIdle" value="10" />
		<property name="timeBetweenEvictionRunsMillis" value="60000" />
		<property name="minEvictableIdleTimeMillis" value="300000" />
		<property name="validationQuery" value="SELECT 'x'" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />
	</bean>

	<bean id="writeNewsDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<property name="url" value="${writeSpecial.jdbc.url}" />
		<property name="username" value="${writeSpecial.jdbc.username}" />
		<property name="password" value="${writeSpecial.jdbc.password}" />
		<property name="filters" value="stat" />
		<property name="maxActive" value="300" />
		<property name="maxWait" value="60000" />
		<property name="initialSize" value="10" />
		<property name="minIdle" value="10" />
		<property name="timeBetweenEvictionRunsMillis" value="60000" />
		<property name="minEvictableIdleTimeMillis" value="300000" />
		<property name="validationQuery" value="SELECT 'x'" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />
	</bean>-->
</beans>